<!--
    File Name-footer.ejs
    Name-Manpreet Kaur
    SID- 301239154
    Date-Feb 09, 2022
 ---> 

    <script src="jquery/dist/jquery.slim.min.js"></script>    
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="javascripts/app.js"></script>

    <footer class="text-center text-white" style="background-color: #050000;">
        <div class="text-center text-dark text-white p-3" style="background-color: rgba(248, 242, 242, 0.2);">
        <p><h4 class="fw-bold ">MISSION</h4><br>
        Goal of <I>MK Solutions</I> is to fulfill customers need with minimum resources and least time.I provide you services with  the implementation of latest technology in solutions.
        
        </p>
        </div>
    </footer>
</body>
</html>
