<!--File Name-about.js
    Name-Manpreet Kaur
    SID- 301239154
    Date-Feb 09, 2022
 ---> 
 <% include partials/header.ejs %>

<main>
    <div class="d-flex justify-content-center flex-column text-center">
      <div class="">
        <img class="" width="350" src="images/manpreet.jpg" >
      </div>
      <h1>Hello!</h1>
      <h3>I am Manpreet Kaur</h1>
      <p class="fs-5">I am graduated and having my BSC degree in Computer Science.Now I am pursuing Software Engineering in Artificial Intelligence course from Centennial Course.I have hands on experience in C,C++,SQL,Java,Python,HTML.
        I am detail-oriented type of person.I have logical problem solving skills.
      </p>
    </div>
    <hr>
    <div class="d-flex justify-content-center flex-column text-center mt-5">
      <h3>My Resume</h3>
      <p>
        <a class="btn btn-success fw-bold" target="_blank" href="images/resume.pdf">
        Click Here
      </a>
      </p>
      
    </div>
  </main>


<% include partials/footer.ejs %>    