<!--
    File Name-service.ejs
    Name-Manpreet Kaur
    SID- 301239154
    Date-Feb 09, 2022
 ---> 
 <% include partials/header.ejs %>

<main class="justify-content-center">
    <h1><u><b><i>My Services</i></b></u></h1>
    <div class='container-fluid mx-auto mt-5 mb-5 col-12'>
          <div class="card col-md-3 col-12 ml-2">
              <div class="card-content">
                  <div class="card-body"> 
                      <div class="card-title"> <ul>
                      <li>Data Science</li>
                      <li>Software Development</li>
                      <li>Web Application Development </li>
                      <li>Machine Learning</li>
                      </ul>
                    </div>   
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<% include partials/footer.ejs %>    